<html>
  <head>
    <meta charset="utf-8" />
    <title>C_2203</title>
    <meta name="viewport" content="width=device-width, initial-scalable=1.0" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r127/three.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/r127/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/3.3.2/three.js/build/ar.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="static/js/index.js"></script>
    <script type="module" src="static/js/websocket.js"></script>
  </head>
  <body>
    <canvas
      id="output_canvas"
      style="position: absolute; width: 100%; height: 100%"
    ></canvas>
  </body>
</html>
